<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入力内容の確認</title>
</head>
<body>
    <h1>入力内容の確認</h1>
    <ul>
        <li>名前: {{ form_data.name }}</li>
        <li>フリガナ: {{ form_data.furigana }}</li>
        <li>予約人数: {{ form_data.people }}</li>
        <li>メールアドレス: {{ form_data.email }}</li>
        <li>電話番号: {{ form_data.phone_number }}</li>
        <li>郵便番号: {{ form_data.postal_code }}</li>
        <li>住所: {{ form_data.address }}</li>
    </ul>
    <form method="post" action="{% url 'submit_example' %}">
        {% csrf_token %}
        <button type="submit">予約確定</button>
    </form>
    <!-- 修正するリンク -->
    <form method="post" action="{% url 'example' %}">
        {% csrf_token %}
        <button type="submit">修正する</button>
    </form>
</body>
</html>

